._1 {
  background-color: rgb(253, 219, 39);
}

._2 {
  background-color: rgb(250, 201, 1);
}

._3 {
  background-color: rgb(250, 206, 42);
}

._4 {
  background-color: rgb(171, 91, 20);
}

._5 {
  background-color: rgb(228, 96, 37);
}

._6 {
  background-color: rgb(179, 0, 19);
}

._7 {
  background-color: rgb(5, 3, 6);
  color: white;
}

.jumbotron {
  background: url("../../resources/images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: inherit;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  color: white;
  font-family: 'UnifrakturCook', cursive;
  font-size: 150px;
}
body {
  background: url("../../resources/images/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: inherit;
}

.add-new-keg {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
  border-radius: 5px;
}
#tap-board {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
#edit-keg-form {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.new-label {
  text-align: left;
}
.new-input {
  text-align: left;
  color: black;
}

.select-option {
  color: black;
}

button {
  color: black;
  margin-top: 2px;
}

input {
  width: 20vw;
  margin: 2px;
}

#new-keg-title {
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

.color-coding {
  border: 1px solid black;
  text-align: center;
  margin: 7px;
  border-radius: 10px;
}

#current-beers {
  margin: 5px;
  padding: 3px;
}

.high-ABV {
  color: red;
}
